<body>
    <div class="contenedor">
      <img src="https://img.freepik.com/vector-premium/concepto-igualdad-genero-mujer-hombre-dan-cinco-empresarios-felices-no-hay-brecha-amistad-o-asociacion-hombres-mujeres-personas-vector-paran-escalas_53562-20540.jpg" alt="Imagen">
      <p>Con esta herramientas podremos medir tu percepción de la desigualdad que hay a tu alrededor. Por favor responde conscientemente.</p>
      <p>Instrucciones:</p>
      <ul>
        <li>Lee cada pregunta cuidadosamente y considera sus implicaciones.</li>
        <li>Si estas de acuerdo con la afirmación presiona "SI" en caso contrario presiona "NO".</li>
        <li>Al finalizar las preguntas presiona el boton "FINALIZAR".</li>
      </ul>
      <button class="play-button" (click)="go()">Iniciar</button>
    </div>
  </body>