<body>
    <div class="contenedor">
      <img src="https://img.freepik.com/vector-premium/concepto-igualdad-genero-mujer-hombre-dan-cinco-empresarios-felices-no-hay-brecha-amistad-o-asociacion-hombres-mujeres-personas-vector-paran-escalas_53562-20540.jpg" alt="Imagen">
      <p>Bienvenido a este juego interactivo diseñado para evaluar tu comprensión de la desigualdad social. Al responder una serie de preguntas, obtendrás información sobre tu propia perspectiva sobre estos temas.</p>
      <p>Instrucciones:</p>
      <ul>
        <li>Lee cada pregunta cuidadosamente y considera sus implicaciones.</li>
        <li>Selecciona la respuesta que mejor refleje tu acuerdo o desacuerdo con la afirmación</li>
      </ul>
      <button class="play-button" (click)="go()">Iniciar</button>
    </div>
  </body>