<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="contenedor">
    <img src="https://img.freepik.com/vector-premium/concepto-igualdad-genero-mujer-hombre-dan-cinco-empresarios-felices-no-hay-brecha-amistad-o-asociacion-hombres-mujeres-personas-vector-paran-escalas_53562-20540.jpg" alt="Imagen">
    <h1>¡Comienza tu aventura!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed eros eget ligula aliquam ullamcorper sit amet non quam. Morbi sit amet ex eget lorem laoreet tincidunt, ac eget mauris tincidunt. Sed velit nunc, aliquam eget libero ac, tincidunt semper nulla. Nullam sed turpis ut nibh consectetur ullamcorper ac non quam.</p>
    <a href="/home" class="btn-iniciar" (click)="goToHome()">Iniciar</a>
  </div>
  <app-home></app-home>
</body>
</html>
